.footer {
    // display: flex;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
.footer-list:not(:last-child) {
    margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
    }
    .subscribe {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .subscribe {
        margin-top: 12px;
        margin-left: 92px;
    }    
}