.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero_img.jpg);
    text-align: center;
    display: flex;
    background-size: cover;
    background-color: #2f303a;
}