.section-features {
    padding-top: 60px;
    padding-bottom: 47px;
}
.features {
    min-height: 251px;
}

@media screen and (min-width:1200px) {
    .section-features {
        padding-top: 94px;
    }    
}