.contact-form {
    border-radius: 4px;
    padding: 40px;
    width: 528px;
    background-color: white;
    position: relative;
    background-color: #fff;
    margin: auto;
}
// .contact-form {
//     position: absolute;
//     padding-top: 12px;
//     margin: auto;
//     border-radius: 4px;
// }

.contact-form-field {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--textcolor-paragraph-contacts);
}

.contact-form-massage {
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
        outline: var(--hover-focus-color);
        border-color: var(--hover-focus-color);
    }
    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

.contact-form-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin-top: 4px;
    margin-bottom: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
    &:focus {
        outline: var(--hover-focus-color);
        border-color: var(--hover-focus-color);
    }
}
.contact-form-input-wrapper {
    
}
// .contact-form-checkbox-wrapper {
//     margin-top: 15px;
//     width: 432px;
//     margin-left: auto;
//     margin-right: auto;
//     justify-content: center;
//     font-family: 'Roboto', sans-serif;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--textcolor-paragraph-contacts);
// }

.contact-form-input-wrapper {
    position: relative;

}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .contact-form-input:hover+&,
    .contact-form-input:focus+& {
        fill: var(--hover-focus-color);
    }
}

.contact-form-submit-btn {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: var(--hover-focus-color);
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &:hover {
        background: #188CE8;
    }
}

.contact-form-checkbox-label {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
    
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    &::before {
        display: inline-block;
        width: 16px;
        height: 15px;
        border: 1px solid var(--textcolor-link-button);
        content: '';
        border-radius: 2px;
        margin-right: 7px;
        transform: translateY(-2px);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contact-form-checkbox:checked+&::before {
        background-color: var(--hover-focus-color);
        border: var(--hover-focus-color);
    }
}

.contact-form-checkbox {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.policy-checkbox-svg {
    position: absolute;
    transform: translate(3px, -2px);
    width: 11px;
    height: 8px;
    fill: #ffffff;
}
.modal-form-field {
    // max-height: 120px;
    position: relative;

    &:not(:nth-child(6)) {
        position: relative;
    }
}