.second-main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.second-main-list-item {
    width: 100%;
    height: 100%;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
.second-main-list-wrapper {
    width: 100%;
    height: 629px;
}

@media screen and (max-width: 767px) {
    .second-main-list-wrapper:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .team-img {
        width: 354px;
        height: 344px;
    }
    .second-main-list-wrapper {
        width: 354px;
        height: 512px;

    }
    .second-main-list-wrapper:not(:nth-child(n+3)) {
        margin-bottom: 30px;
    }
    .second-main-list-wrapper:not(:nth-child(2n)) {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .team-img {
        width: 270px;
        height: 260px;
    }
    .second-main-list-wrapper {
        width: 270px;
        height: 428px;
    }
    .second-main-list {
        justify-content: space-between;
    }
}