.second-main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
}
.second-main-list-item {
    width: 270px;
    height: 428px;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .second-main-list-item:not(:nth-child(2n)) {
        margin-right: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .second-main-list-item:not(:last-child) {
        margin-right: 30px;
    }
}